
h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: brown;
    padding-left: 20px;
    text-shadow: 2px 2px grey;
}


.contenedor{
    width: 200px;
    margin: 20px;
    background-color: blanchedalmond;
    border-radius: 10px;
}

button{
    background-color: black;
    color: white;
}