h1, h2, h3, p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p {
    font-weight: bold;
    color: blue;
}

h3 {
    font-weight: lighter;
}

.seccion {
    background-color: gold;
    display: inline-block;
}

img {
    width: 100%;
    height: auto;
    border: 1px red solid;
}



.contenedor-1{
    border: 1px red solid;
    text-align: center;
    display: flex;
}

.contenedor-2{
    border: 1px green solid;
    text-align: center;
    display: flex;
}

span {
    color: coral;
}


button {
    padding: 1rem;
    font-size: 1rem;
    cursor: pointer;
    background-color: lightgreen;
    
}

button:hover {
    background-color: greenyellow;
}









